.wrapper-ads{
  overflow: hidden;
  img{
    height: 100%;
    width: 100%;
  }
}
.shipping-wrapper {
  div{
    border-radius: 10px;
  }
  img{
    width: 38px;
    height: 28px;
    margin: 5px 0 0 12px;
    top: 7px;
  }
  p {
    font-size: 13px;
    margin-right: 70px;
  }
}

