@charset "UTF-8";
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Regular.eot");
  src: url("../fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Regular.woff2") format("woff2"), url("../fonts/Vazir-Regular.woff") format("woff"), url("../fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Bold.woff2") format("woff2"), url("../fonts/Vazir-Bold.woff") format("woff"), url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Black.eot");
  src: url("../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Black.woff2") format("woff2"), url("../fonts/Vazir-Black.woff") format("woff"), url("../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Medium.eot");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Medium.woff2") format("woff2"), url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Light.eot");
  src: url("../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Light.woff2") format("woff2"), url("../fonts/Vazir-Light.woff") format("woff"), url("../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Thin.eot");
  src: url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Thin.woff2") format("woff2"), url("../fonts/Vazir-Thin.woff") format("woff"), url("../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
body {
  direction: rtl;
  font-family: Vazir, serif !important;
  background-color: #f8f9fa;
}

.bg-top-nav {
  background-color: #232f3e !important;
}
.bg-top-nav .custom-dropdown-menu li:hover a::after {
  color: #5683ff;
}
.bg-top-nav .custom-dropdown-menu li:hover a::before {
  color: #5683ff;
}
.bg-top-nav .custom-dropdown-menu li a::after {
  content: ">>";
  margin-right: 5px;
  color: #8b8b8b;
  transition: 0.5s ease;
}
.bg-top-nav .custom-dropdown-menu li a::before {
  content: "<<";
  margin-left: 5px;
  color: #8b8b8b;
  transition: 0.5s ease;
}
.bg-top-nav .basket a {
  width: 350px;
  cursor: default;
  transition: border 0.1s ease-in;
}
.bg-top-nav .basket a:hover {
  border: 2px solid #616066;
  border-radius: 20px;
}
.bg-top-nav .basket a img {
  width: 65px;
  height: 64px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.bg-top-nav .basket a img:hover {
  width: 70px;
  height: 70px;
  filter: brightness(0.6);
}
.bg-top-nav .basket a button {
  transition: all 0.3s ease-in;
}
.bg-top-nav .basket a button:hover {
  color: red;
  transform: scale(1.4);
}
.bg-top-nav .custom-navbar-nav .nav-item {
  position: unset;
}
.bg-top-nav .custom-navbar-nav .custom-menu-right {
  border-left: 3px solid #8b8b8b;
  padding: 7px !important;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li a {
  color: #2e2e2e !important;
  font-size: 16px;
  transition: 0.5s ease;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li a::before {
  content: ">";
  font-weight: bolder;
  font-size: 16px;
  margin-left: 5px;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li a:hover {
  margin-right: 7px;
  color: #5683ff !important;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li:hover a::before {
  color: #03ce9d !important;
}
.bg-top-nav .custom-nav .custom-navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

.login-btn {
  position: absolute;
  left: 15px;
  background-color: transparent;
  outline: none;
  border: none;
}
.login-btn i {
  vertical-align: -2px;
}
.login-btn span {
  font-size: 16px;
  color: #ffc107;
}

.login-form #login-form .modal-header h5 {
  font-size: 18px;
}
.login-form #login-form .modal-body input {
  direction: ltr !important;
}
.login-form #login-form .modal-body .login-form label {
  font-size: 14px;
}
.login-form #login-form .modal-body .login-form input[type=email] {
  border: none;
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.login-form #login-form .modal-body .login-form input[type=password] {
  border: none;
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.login-form #login-form .modal-footer a {
  font-size: 16px;
  color: #5683ff;
}

#exampleInputEmail1::-webkit-input-placeholder, #exampleInputPassword1::-webkit-input-placeholder {
  font-size: 16px !important;
}

.custom-col-lg-6 {
  flex: 0 0 57% !important;
  width: 57% !important;
}

.custom-center-slider2 {
  flex: 0 0 23% !important;
  width: 23% !important;
}

.custom-center-slider {
  flex: 0 0 20.5% !important;
  width: 20.5% !important;
  height: fit-content;
}

@media screen and (max-width: 991px) {
  .custom-col-lg-6 {
    flex: 0 0 100%;
    width: 100%;
  }

  .custom-center-slider {
    flex: 0 0 50%;
    width: 50%;
    margin-top: 1rem;
    text-align: center;
    height: fit-content;
  }

  .custom-center-slider2 {
    flex: 0 0 46%;
    width: 46%;
    margin-top: 1rem;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .custom-center-slider2 {
    flex: 0 0 56%;
    width: 56%;
    margin-top: 1rem;
    text-align: center;
  }
}
.wrapper-ads {
  overflow: hidden;
}
.wrapper-ads img {
  height: 100%;
  width: 100%;
}

.shipping-wrapper div {
  border-radius: 10px;
}
.shipping-wrapper img {
  width: 38px;
  height: 28px;
  margin: 5px 0 0 12px;
  top: 7px;
}
.shipping-wrapper p {
  font-size: 13px;
  margin-right: 70px;
}

.cat-hover {
  transition: 0.3s ease;
  overflow: hidden;
}
.cat-hover:hover {
  z-index: 1;
  box-shadow: 0 0 7px 1px #cccccc;
}
.cat-hover:hover .d-flex .cat-desc {
  z-index: 2;
  transform: scale(1.4);
}
.cat-hover:hover img {
  z-index: 1;
  transform: scale(1.2) rotate(10deg);
}
.cat-hover .d-flex {
  border-radius: 10px;
}
.cat-hover .d-flex .cat-desc {
  transition: 0.4s ease;
}
.cat-hover .d-flex .cat-desc p {
  font-size: 13px;
}
.cat-hover img {
  width: 100px;
  transition: 0.5s ease;
}

.offer-section-title {
  right: 0;
  font-size: 20px;
  color: #393939;
  border-bottom: 2px solid red;
  padding-bottom: 6px;
  top: -1px;
}

.custom-nav-tabs {
  direction: ltr;
}
.custom-nav-tabs .nav-link {
  margin-bottom: -1px;
  background: 0 0;
  border: none;
  display: block;
  padding: 0.5rem 1rem;
  color: #3d3d3d;
}
.custom-nav-tabs .nav-link.active {
  color: #ee6363;
  background-color: transparent;
  border-color: transparent;
}

.tab-pane .s-o-box-shadow {
  box-shadow: 0 0 1px 1px #efefef;
  z-index: 1;
}
.tab-pane .offer-product-image {
  width: 240px;
  height: 240px;
  overflow: hidden;
}
.tab-pane .offer-product-image:hover .first-img, .tab-pane .offer-product-image:hover .second-img {
  transform: translateY(-240px);
}
.tab-pane .offer-product-image .first-img, .tab-pane .offer-product-image .second-img {
  width: 240px;
  transition: 0.5s ease;
}
.tab-pane .offer-rating {
  color: #c6c611;
}
.tab-pane .offer-details {
  flex: 0 0 50%;
  max-width: 50%;
}
.tab-pane .offer-price s {
  margin-left: 2rem;
}
.tab-pane .count-down-timer .demos {
  direction: ltr;
}
.tab-pane .count-down-timer .demos #day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab-pane .count-down-timer .demos #day::after {
  content: "روز";
  position: absolute;
  top: 42px;
  right: 8px;
}
.tab-pane .count-down-timer .demos #hours {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab-pane .count-down-timer .demos #hours::after {
  content: "ساعت";
  position: absolute;
  top: 42px;
  right: 0;
}
.tab-pane .count-down-timer .demos #minutes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab-pane .count-down-timer .demos #minutes::after {
  content: "دقیقه";
  position: absolute;
  top: 42px;
  right: -1px;
}
.tab-pane .count-down-timer .demos #seconds {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tab-pane .count-down-timer .demos #seconds::after {
  content: "ثانیه";
  position: absolute;
  top: 42px;
  right: 0;
}
.tab-pane .count-down-timer .demos span {
  background-color: #efefef;
  margin: 11px;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 100%;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .offer-section-title {
    right: 0;
    font-size: 16px;
    color: #393939;
    top: 5px;
  }
}
span {
  color: #3d3d3d;
}

.offer-expire-text {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.offer-expire-text-inner {
  font-size: 24px;
}

.p-title-offer {
  right: 25px;
}

.owl-carousel {
  position: relative !important;
}
.owl-carousel .custom-card {
  border: none;
  border-radius: 0;
}
.owl-carousel .custom-card:hover {
  box-shadow: 0 0 10px 3px #efefef;
  z-index: 1;
}
.owl-carousel .custom-card .p-img {
  max-width: 175px;
}
.owl-carousel .custom-card .card-body .p-title, .owl-carousel .custom-card .card-body .p-price {
  font-size: 14px;
  color: #3c3b3b;
}
.owl-carousel .owl-nav {
  display: flex;
}
.owl-carousel .owl-nav .owl-prev {
  position: absolute;
  width: 50px;
  top: 40%;
}
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  left: 0;
  width: 50px;
  top: 40%;
}
.owl-carousel .owl-nav span {
  display: block;
  font-size: 66px;
  background-color: #ffffff;
  box-shadow: 0 0 12px 0 #cccccc;
}

.banner-img-hover-2:hover img {
  transform: scale(1.3);
}

.banner-section .banner-img-hover {
  overflow: hidden;
}
.banner-section .banner-img-hover:hover img {
  transform: scale(1.2) translateX(20px);
}
.banner-section .banner-img-hover img {
  transition: 0.5s ease;
}

.footer {
  margin-top: 150px;
}
.footer .top .news-latter .row {
  margin-top: -77px;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.075);
}
.footer .top .news-latter .row .news-latter-s1 h6 {
  font-size: 16px;
}
.footer .top .news-latter .row .news-latter-s1 p {
  font-size: 16px;
  line-height: 33px;
}
.footer .top .news-latter .row .news-latter-s2 p {
  font-size: 16px;
  line-height: 33px;
}
.footer .top .news-latter .row .news-latter-s3 .input-news-letter {
  border-radius: 0 !important;
}
.footer .top .news-latter .row .news-latter-s3 .input-news-letter::-webkit-input-placeholder {
  font-size: 16px;
}
.footer .top .news-latter .row .news-latter-s3 button {
  font-size: 14px;
}
.footer .bottom .main-section-footer h5 {
  font-size: 15px;
  margin-right: 15px;
  border-bottom: 3px solid #8b8b8b;
  padding-bottom: 10px;
  display: inline-flex;
}
.footer .bottom .main-section-footer .footer-nav-custom li a {
  font-size: 14px;
  color: #4e4d4d;
  transition: 0.5s ease;
}
.footer .bottom .main-section-footer .footer-nav-custom li a:hover {
  color: #5683ff;
}
.footer .bottom .support-custom .support-rules {
  font-size: 39px;
  color: #5683ff;
  margin: 0 16px;
}
.footer .bottom .support-custom .tel-support {
  direction: ltr;
}
.footer .bottom .support-custom .tel-support p {
  font-size: 16px;
  color: #4e4d4d;
}
.footer .bottom .support-custom .tel-support a {
  display: block;
  font-size: 16px;
  color: #4e4d4d;
}
.footer .bottom .social-icon ul li:first-of-type {
  margin-right: 8%;
}
.footer .bottom .social-icon ul li a {
  color: #8b8b8b;
  transition: 0.5s ease;
}
.footer .bottom .social-icon ul li .telegram:hover {
  color: #2d79ec;
}
.footer .bottom .social-icon ul li .insta:hover {
  color: #d65002;
}
.footer .bottom .social-icon ul li .twi:hover {
  color: #2267ce;
}
.footer .bottom .social-icon ul li .faceb:hover {
  color: #0e50b3;
}
.footer .bottom .social-icon ul li .rss:hover {
  color: #f39548;
}
.footer .bottom .social-icon p {
  font-size: 15px;
}

h1.product-page-title {
  font-size: 23px;
}
h1.product-page-title .fa-heart {
  color: #d61b1b;
}
h1.product-page-title .fa-bell, h1.product-page-title .fa-share-alt {
  color: #3d3d3d;
}

.product-page-rate {
  color: gold;
  font-size: 18px;
}
.product-page-rate i {
  color: gold;
  font-size: 16px;
}

.brand-cat {
  font-size: 15px;
}

.product-page-price {
  font-size: 18px;
}
.product-page-price span {
  color: red;
}

.p-benfit {
  font-size: 16px;
}

.benfit-list li a i {
  color: #4f98f8;
}

form .custom-btn1 {
  width: 200px;
}

.custom-nav-tabs-product-page .nav-link.active {
  border-top: 2px solid #ee6363;
  font-size: 16px;
  margin-bottom: -2px;
}

.custom-tab-pane-product h5 {
  color: #8b8b8b;
}
.custom-tab-pane-product .product-desc {
  font-size: 15px;
  line-height: 36px;
  background-color: #efefef;
}
.custom-tab-pane-product .product-all-rate p {
  font-size: 14px;
}
.custom-tab-pane-product .product-main-desc {
  font-size: 15px;
  line-height: 36px;
}
.custom-tab-pane-product .product-desc-step li {
  border-right: 1px solid #8b8b8b;
  font-size: 17px;
  line-height: 46px;
  color: #2f2f2f;
}
.custom-tab-pane-product .product-desc-step li i {
  top: -8px;
  right: -10px;
  font-size: 20px;
  color: #8b8b8b;
}
.custom-tab-pane-product .product-desc-step li .p-img-wrapper {
  max-width: 500px;
  margin: 0 auto;
}

.custom-tab-pane-product-details h5 {
  color: #8b8b8b;
}
.custom-tab-pane-product-details ul p {
  font-size: 16px;
}
.custom-tab-pane-product-details ul p i {
  vertical-align: -3px;
}
.custom-tab-pane-product-details ul li .key {
  background-color: #efefef;
  flex: 0 0 20%;
  height: 40px;
  font-size: 15px;
}
.custom-tab-pane-product-details ul li .value {
  background-color: #efefef;
  flex: 0 0 78%;
  height: 40px;
  font-size: 15px;
}

.custom-tab-pane-product-comment .progress-product-wrapper {
  background-color: #efefef;
}
.custom-tab-pane-product-comment .add-comment p a i {
  vertical-align: -4px;
}
.custom-tab-pane-product-comment .add-comment p:first-child {
  font-size: 18px;
  color: #505050;
}
.custom-tab-pane-product-comment .add-comment p:nth-child(2) {
  color: #505050;
}
.custom-tab-pane-product-comment .custom-product-media .user-detailes p {
  font-size: 15px;
}
.custom-tab-pane-product-comment .custom-product-media .user-detailes .bg-custom {
  font-size: 16px;
}
.custom-tab-pane-product-comment .custom-product-media .user-detailes .p-color {
  font-size: 15px;
}
.custom-tab-pane-product-comment .custom-product-media .user-detailes .p-supplier {
  font-size: 16px;
}
.custom-tab-pane-product-comment .user-p-comment p {
  font-size: 18px;
}
.custom-tab-pane-product-comment .user-p-comment ul.nav li {
  font-size: 14px;
}
.custom-tab-pane-product-comment .user-p-comment ul.nav li i {
  font-size: 8px;
  color: #8888fb;
}
.custom-tab-pane-product-comment .user-p-comment .bnefit-comm-title {
  font-size: 16px;
}
.custom-tab-pane-product-comment .user-p-comment .comm-vote {
  font-size: 16px;
}
.custom-tab-pane-product-comment .user-p-comment .comm-vote span {
  font-size: 14px;
  padding: 4px 10px;
}
.custom-tab-pane-product-comment .add-comments p {
  font-size: 18px;
}
.custom-tab-pane-product-comment .add-comments p i {
  font-size: 36px;
  vertical-align: -8px;
}