@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Regular.eot");
  src: url("../fonts/Vazir-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Regular.woff2") format("woff2"), url("../fonts/Vazir-Regular.woff") format("woff"), url("../fonts/Vazir-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Bold.eot");
  src: url("../fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Bold.woff2") format("woff2"), url("../fonts/Vazir-Bold.woff") format("woff"), url("../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Black.eot");
  src: url("../fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Black.woff2") format("woff2"), url("../fonts/Vazir-Black.woff") format("woff"), url("../fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Medium.eot");
  src: url("../fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Medium.woff2") format("woff2"), url("../fonts/Vazir-Medium.woff") format("woff"), url("../fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Light.eot");
  src: url("../fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Light.woff2") format("woff2"), url("../fonts/Vazir-Light.woff") format("woff"), url("../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("../fonts/Vazir-Thin.eot");
  src: url("../fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Vazir-Thin.woff2") format("woff2"), url("../fonts/Vazir-Thin.woff") format("woff"), url("../fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
.container {
  clear: both;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

body {
  direction: rtl;
}

.bg-top-nav {
  background-color: #232f3e !important;
}
.bg-top-nav .custom-dropdown-menu li:hover a::after {
  color: #5683ff;
}
.bg-top-nav .custom-dropdown-menu li:hover a::before {
  color: #5683ff;
}
.bg-top-nav .custom-dropdown-menu li a::after {
  content: ">>";
  margin-right: 5px;
  color: #8b8b8b;
  transition: 0.5s ease;
}
.bg-top-nav .custom-dropdown-menu li a::before {
  content: "<<";
  margin-left: 5px;
  color: #8b8b8b;
  transition: 0.5s ease;
}
.bg-top-nav .basket a {
  width: 350px;
  cursor: default;
  transition: border 0.1s ease-in;
}
.bg-top-nav .basket a:hover {
  border: 2px solid #616066;
  border-radius: 20px;
}
.bg-top-nav .basket a img {
  width: 65px;
  height: 64px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.bg-top-nav .basket a img:hover {
  width: 70px;
  height: 70px;
  filter: brightness(0.6);
}
.bg-top-nav .basket a button {
  transition: all 0.3s ease-in;
}
.bg-top-nav .basket a button:hover {
  color: red;
  transform: scale(1.4);
}
.bg-top-nav .custom-navbar-nav .nav-item {
  position: unset;
}
.bg-top-nav .custom-navbar-nav .custom-menu-right {
  border-left: 3px solid #8b8b8b;
  padding: 7px !important;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 img {
  position: absolute;
  left: 0;
  bottom: 0;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li a {
  color: #2e2e2e !important;
  font-size: 16px;
  transition: 0.5s ease;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li a::before {
  content: ">";
  font-weight: bolder;
  font-size: 16px;
  margin-left: 5px;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li a:hover {
  margin-right: 7px;
  color: #5683ff !important;
}
.bg-top-nav .custom-navbar-nav .custom-dropdown-menu2 div li:hover a::before {
  color: #03ce9d !important;
}
.bg-top-nav .custom-nav .custom-navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

.login-btn {
  position: absolute;
  left: 15px;
  background-color: transparent;
  outline: none;
  border: none;
}
.login-btn i {
  vertical-align: -2px;
}
.login-btn span {
  font-size: 16px;
  color: #ffc107;
}

.login-form #login-form .modal-header h5 {
  font-size: 18px;
}
.login-form #login-form .modal-body input {
  direction: ltr !important;
}
.login-form #login-form .modal-body .login-form label {
  font-size: 14px;
}
.login-form #login-form .modal-body .login-form input[type=email] {
  border: none;
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.login-form #login-form .modal-body .login-form input[type=password] {
  border: none;
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.login-form #login-form .modal-footer a {
  font-size: 16px;
  color: #5683ff;
}

#exampleInputEmail1::-webkit-input-placeholder, #exampleInputPassword1::-webkit-input-placeholder {
  font-size: 16px !important;
}